@charset "utf-8";
/* CSS Document */

body{
	background-color: #FFFFFF;
}


.TitleHome{
	text-indent: -1000px;
	background: url(../../images/home/WorldwideNews.gif) 0 0 no-repeat;
	height: 28px;
	overflow: hidden;
	margin-bottom: 5px;
}
.WorldwideNews{
	margin-bottom: 15px;
}
.WorldwideNewsText{ padding-top: 5px;}
.WorldwideNewsText p{
	font-size: 12px;
	color: #343b41;
	display: block;
	width: 340px;
	float: left;
	line-height: 14px;
}
.WorldwideNewsText h5{
	font-size: 18px;
	color: #39638d;
	margin-bottom: 5px;

}
.WorldwideNewsText a{
	float: right;
	display: block;
	width: 113px;
	padding-top: 20px;
	padding-left: 5px;
	height: 25px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.linksHome{
	 border-top: 1px solid #c8c9cb;
	 padding-top: 16px;
}

.linksHome a{
	display: inline-block;
	text-decoration: none;
	color: #424A52;
	width: 90px;
	margin: 0px 17px;
}

.linksHome span{
	display: block;
	width: 90px;
	text-align: center;
	margin-bottom: 16px;
}


.search{
	margin-left: 24px;
	font-size: 12px;
	color: #F25900;
	margin-top: 120px;
}




.linkBEO{
	text-decoration: none;
	color: #626262;
	font-style: italic;
	margin-right: 5px;

}
.logoBEO{
	position:absolute;
	top: -1px;
	left: 15px;
	zoom: 1;
	filter: alpha(opacity=0);
	opacity: 0;
	height: 32px;
	z-index: 1000;
}


#topColumnLeft{
	float: left;
}
#topColumnMiddle{
	float: left;
	text-align:center;
}
#topColumnRight{
	color: #3b6796;
	float: right;
	padding-top: 5px;
}

#topColumnLeft a{
	display: inline-block;
	*display: inline; /* IE */
	color: #49709b;
	text-decoration: underline;
}
#topColumnRight span{
	color: #3c6895;
	font-weight: bold;
	padding-right: 10px;
}