// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 768 =================================================== */

// 1. ROOT 					==============================
body{
	background: url(./images/bg.png) #c2c1c1;
}
.wrapper{
	background-color: white;
	border-left: 1px solid #c2c1c1;
	border-right: 1px solid #c2c1c1;
	max-width : 960px;
	margin: 0 auto;

}
.headerMenu{
	max-width : 958px;
}

// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// Menu Header -----------------------------------

.logo{
	float: left;
}

 nav{
 	height: auto;
 	overflow: hidden;
	@include transition (height 1.0s ease-in-out);
	text-align: right;
	

 	ul{
 		background-color: white;
 		margin-bottom: 1px;
 		margin-top: 15px;
 	}
	li{
		background-color: white;
		background-image: none;
		display: inline-block;
		margin: 0;
		width: auto;

		a{
			color: black;
			display: block;
			padding: 8px 8px;
			font-size: em(16);
			text-shadow: none;
			&:hover{
				background-color: $invertiaWebRed;
				color: white;
				text-decoration: none;
				text-shadow: none;
			}
		}
	}
 } // End nav
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================