@font-face {
	font-family: 'Swiss';
	src: url('./fonts/SWZ721N.eot');
	src: local('☺'), url('./fonts/SWZ721N.woff') format('woff'), url('./fonts/SWZ721N.ttf') format('truetype'), url('./fonts/SWZ721N.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'SwissBold';
	src: url('./fonts/SWZ721B.eot');
	src: local('☺'), url('./fonts/SWZ721B.woff') format('woff'), url('./fonts/SWZ721B.ttf') format('truetype'), url('./fonts/SWZ721B.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}