/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:1f8713a76266caa00a99bb7de53ae7d7$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(./images/icons.png);}

.bookmark-15px {width:17px; height:15px; background-position: -748px -542px}
.bookmark-25px {width:25px; height:25px; background-position: -683px -524px}
.home-15px {width:17px; height:15px; background-position: -702px -558px}
.home-25px {width:25px; height:25px; background-position: -520px -544px}
.iwebConector-128px {width:128px; height:128px; background-position: -648px -260px}
.iwebConector-256px {width:256px; height:256px; background-position: -260px -260px}
.iwebConector-32px {width:32px; height:32px; background-position: -649px -522px}
.iwebConector-64px {width:64px; height:64px; background-position: -684px -458px}
.iwebLanding-128px {width:128px; height:128px; background-position: -518px -260px}
.iwebLanding-256px {width:256px; height:256px; background-position: -518px -2px}
.iwebLanding-32px {width:32px; height:32px; background-position: -615px -522px}
.iwebLanding-64px {width:64px; height:64px; background-position: -618px -456px}
.iwebRanking-128px {width:128px; height:128px; background-position: -390px -648px}
.iwebRanking-256px {width:256px; height:256px; background-position: -260px -2px}
.iwebRanking-324px {width:32px; height:32px; background-position: -581px -522px}
.iwebRanking-64px {width:64px; height:64px; background-position: -552px -456px}
.iwebStrategy-128px {width:128px; height:128px; background-position: -390px -518px}
.iwebStrategy-256px {width:256px; height:256px; background-position: -2px -518px}
.iwebStrategy-32px {width:32px; height:32px; background-position: -547px -522px}
.iwebStrategy-64px {width:64px; height:64px; background-position: -650px -390px}
.iwebTrade-128px {width:128px; height:128px; background-position: -260px -648px}
.iwebTrade-256px {width:256px; height:256px; background-position: -2px -260px}
.iwebTrade-32px {width:32px; height:32px; background-position: -716px -424px}
.iwebTrade-64px {width:64px; height:64px; background-position: -584px -390px}
.iweblinKing-128px {width:128px; height:128px; background-position: -260px -518px}
.iweblinKing-256px {width:256px; height:256px; background-position: -2px -2px}
.iweblinKing-32px {width:32px; height:32px; background-position: -716px -390px}
.iweblinKing-64px {width:64px; height:64px; background-position: -518px -390px}
.left-15px {width:17px; height:15px; background-position: -729px -542px}
.left-25px {width:25px; height:25px; background-position: -750px -498px}
.mail-15px {width:23px; height:15px; background-position: -710px -524px}
.mail-25px {width:25px; height:25px; background-position: -750px -471px}
.marker-15px {width:17px; height:15px; background-position: -683px -551px}
.marker-25px {width:25px; height:25px; background-position: -520px -517px}
.phone-15px {width:17px; height:15px; background-position: -710px -541px}
.phone-25px {width:25px; height:25px; background-position: -750px -444px}
.plus-15px {width:17px; height:15px; background-position: -754px -525px}
.plus-25px {width:25px; height:25px; background-position: -750px -417px}
.right-15px {width:17px; height:15px; background-position: -735px -525px}
.right-25px {width:25px; height:25px; background-position: -750px -390px}
.twitter-25 {width:25px; height:25px; background-position: -518px -490px}
.twitter-32 {width:32px; height:32px; background-position: -518px -456px}
