
@font-face {
	font-family: 'Aller';
	src: url('fonts/Aller.eot');
	src: local(''), 
		url('fonts/Aller.eot?#iefix') format('embedded-opentype'),
		url('fonts/Aller.woff') format('woff'), 
		url('fonts/Aller.ttf') format('truetype'), 
		url('fonts/Aller.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}




@font-face {
	font-family: 'Aller_BdIt';
	src: url('fonts/Aller_BdIt.eot');
	src: local('☺'), 
		url('fonts/Aller_BdIt.eot?#iefix') format('embedded-opentype'),
		url('fonts/Aller_BdIt.woff') format('woff'), 
		url('fonts/Aller_BdIt.ttf') format('truetype'), 
		url('fonts/Aller_BdIt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}




@font-face {
	font-family: 'Aller_It';
	src: url('fonts/Aller_It.eot');
	src: local('☺'), 
		url('fonts/Aller_It.eot?#iefix') format('embedded-opentype'),
		url('fonts/Aller_It.woff') format('woff'), 
		url('fonts/Aller_It.ttf') format('truetype'), 
		url('fonts/Aller_It.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}




@font-face {
	font-family: 'Aller_Lt';
	src: url('fonts/Aller_Lt.eot');
	src: local('☺'), 
		url('fonts/Aller_Lt.eot?#iefix') format('embedded-opentype'),
		url('fonts/Aller_Lt.woff') format('woff'), 
		url('fonts/Aller_Lt.ttf') format('truetype'), 
		url('fonts/Aller_Lt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}





@font-face {
	font-family: 'Aller_LtIt';
	src: url('fonts/Aller_LtIt.eot');
	src: local('☺'), 
		url('fonts/Aller_LtIt.eot?#iefix') format('embedded-opentype'),
		url('fonts/Aller_LtIt.woff') format('woff'), 
		url('fonts/Aller_LtIt.ttf') format('truetype'), 
		url('fonts/Aller_LtIt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}




@font-face {
	font-family: 'Aller_Rg';
	src: url('fonts/Aller_Rg.eot');
	src: local('☺'), 
		url('fonts/Aller_Rg.eot?#iefix') format('embedded-opentype'),
		url('fonts/Aller_Rg.woff') format('woff'), 
		url('fonts/Aller_Rg.ttf') format('truetype'), 
		url('fonts/Aller_Rg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}




@font-face {
	font-family: 'AllerDisplay';
	src: url('fonts/AllerDisplay.eot');
	src: local('☺'), 
		url('fonts/AllerDisplay.eot?#iefix') format('embedded-opentype'),
		url('fonts/AllerDisplay.woff') format('woff'), 
		url('fonts/AllerDisplay.ttf') format('truetype'), 
		url('fonts/AllerDisplay.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*@font-face {
    font-family: 'ThrowMyHandsUpintheAirRegular';
    src: url('fonts/throw_my_hands_up_in_the_air-webfont.eot');
    src: url('fonts/throw_my_hands_up_in_the_air-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/throw_my_hands_up_in_the_air-webfont.woff') format('woff'),
         url('fonts/throw_my_hands_up_in_the_air-webfont.ttf') format('truetype'),
         url('fonts/throw_my_hands_up_in_the_air-webfont.svg#ThrowMyHandsUpintheAirRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/