/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:6dcadc682a443f9fc688db8a62928cc7$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(./images/sprites.png);}

.icon-facebook {width:22px; height:22px; background-position: -420px -74px}
.icon-flickr {width:22px; height:22px; background-position: -420px -50px}
.icon-twitter {width:22px; height:22px; background-position: -420px -26px}
.icon-youtube {width:22px; height:22px; background-position: -420px -2px}
.medaqua {width:416px; height:102px; background-position: -2px -2px}
